<!-- Modal Sign in -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <form action="/login" method="post" class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <div class="my-4 col-md-10 offset-md-1 text-center"><small><i>OU</i></small></div>
                <div class="mb-4 col-md-10 offset-md-1">
                    <button class="btn btn-outline-primary col-md-12 mb-4" id="google-signin-button" spacing="default" type="button">
                        <span style="align-self: center; display: inline-flex; flex-wrap: nowrap; max-width: 100%; position: relative; width: 100%; justify-content: center;">
                            <span style="align-items:center;align-self:center; flex: 1 1 auto;margin:0px 4px;max-width: 100%;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;transition: opacity 0.3s ease 0s; opacity: 1;">
                                <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/3.4.2/static/media/google-logo.c21ca9d1.svg" alt="" style="height: 18px; margin-right: 8px; vertical-align: middle; width: 18px;">
                                <span>Log in with Google</span>
                            </span>
                        </span>
                    </button>
                    <button class="btn btn-outline-primary col-md-12" id="google-signin-button" spacing="default" type="button">
                        <span style="align-self: center; display: inline-flex; flex-wrap: nowrap; max-width: 100%; position: relative; width: 100%; justify-content: center;">
                            <span style="align-items:center;align-self:center; flex: 1 1 auto;margin:0px 4px;max-width: 100%;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;transition: opacity 0.3s ease 0s; opacity: 1;">
<!--                                <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/3.4.2/static/media/google-logo.c21ca9d1.svg" alt="" style="height: 18px; margin-right: 8px; vertical-align: middle; width: 18px;">-->
                                <svg class="svgIcon-use" width="25" height="25"><path d="M20.292 4H4.709A.709.709 0 0 0 4 4.708v15.584c0 .391.317.708.709.708h8.323v-6.375h-2.125v-2.656h2.125V9.844c0-2.196 1.39-3.276 3.348-3.276.938 0 1.745.07 1.98.1v2.295h-1.358c-1.066 0-1.314.507-1.314 1.25v1.756h2.656l-.531 2.656h-2.125L15.73 21h4.562a.708.708 0 0 0 .708-.708V4.708A.708.708 0 0 0 20.292 4" fill-rule="evenodd"></path></svg>
                                <span>Log in with Facebook</span>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sign up -->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Créer votre compte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <form action="/register" method="post" class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" name="name" class="form-control" id="nameSignUp" aria-describedby="nameSignUp">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="emailSignUp" aria-describedby="emailSignUp">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>