
{{> modals }}

<section>
    <div class="image-scooter">
        <button class="btn btn-lg btn-danger block-btn-discover">Découvrir</button>
        <div class="triangle"></div>
    </div>
</section>
<section class="bg-rose pb-5">
    <div class="container">
        <h1 class="mb-5">C'est qui <span style="vertical-align:super;"><img width="181" height="117" src="images/logo-rose.png" alt=""></span></h1>
        <p class="h3 font-weight-light">Une trotinette électrique en libre-service</p>
        <p><i class="tiret-white"></i></p>
        <p class="h3 font-weight-light">Vitesse de pointe : 25 km/h</p>
        <p><i class="tiret-white"></i></p>
        <p class="h3 font-weight-light">3 villes : Paris, Lyon, Marseille</p>
        <p><i class="tiret-white"></i></p>
        <p class="h3 font-weight-light">1000 frères et soeurs</p>
    </div>
</section>

<section class="container">
    <h1 class="text-center mt-4">Comment rouler avec <span style="vertical-align:baseline;"><img width="181" height="117" src="images/logo-iris.svg" alt=""></span></h1>
    <div class="text-center">
        <img class="img-fluid" src="images/image-telecharger.jpg" alt="">
    </div>
</section>
<img src="images/image-devenez.jpg" alt="" style="display:block;border:0;margin:0;padding:0; width:100%">
<section class="bg-rose pb-4">
    <div class="container">
        <div class="row text-left">
            <div class="col-sm-3">
                <img class="img-fluid" src="images/picto-battery.jpg" alt="">
            </div>
            <div class="col-sm-8 pt-4">
                <p class="h4 pl-3 mb-3 font-weight-light">Le programme Iris Sitter vous permets de recharger les trotinettes chez vous contre une rémunération</p>
                <p class="h4 pl-3 mb-3 font-weight-light">Remplir le formulaire <a href="#">ici</a></p>
                <p class="h4 pl-3 mb-3 font-weight-light">Suivre et valider le tuto envoyé suite au formulaire</p>
                <p class="h4 pl-3 mb-3 font-weight-light">Après reponse de notre part, venir chercher les battries</p>
            </div>
        </div>
    </div>
</section>
<section class="container container-maps py-5">
    <h2 class="text-center mb-4">Newsletter</h2>
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Adresse e-mail">
                </div>
                <button type="button" class="btn btn-primary mb-2">suivre</button>
            </form>
        </div>
    </div>
</section>